<div class="row">
  <div class="col-md-6 posts">
    {{#each posts}}
      <article class="card">
        <div class="card-header flex-row justify-space-between">
          <h2>
            <a href="/edit/{{id}}">{{title}}</a>
          </h2>
          <div>
            Posted on
            {{format_date date_created}}
          </div>
        </div>
      </article>
    {{/each}}
  </div>
  <div class="col-md-6">
    <h3>Add post:</h3>

    <form class="form new-project-form">

      <div class="form-group">
        <input class="form-input" type="text" id="post-title" />
      </div>

      <div class="form-group">
        <textarea class="form-input" id="body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/post.js"></script>